# Common environment variables for all services
COMPOSE_PROFILES=rpi5#,rpi2w
TZ=America/Argentina/Buenos_Aires
PUID=
PGID=
USERNAME=
PASSWORD=
LOG_LEVEL=

# Directories
MOVIES=
SERIES=
IMMICH=
SERVICES_ROOT=

# Networking
## Homepage
HOMEPAGE_ALLOWED_HOSTS=
# Speedtest
APP_NAME=
SPEEDTEST_TRACKER_APP_KEY=
# Reverse Proxy
DOMAIN_NAME=
TRAEFIK_CLOUDFLARED_TOKEN=
TRAEFIK_DASHBOARD_CREDENTIALS=
## VPN
VPN_SERVICE_PROVIDER=
VPN_TYPE=
OPENVPN_USER=
OPENVPN_PASSWORD=
SERVER_COUNTRIES=
HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE=

# Immich
DB_STORAGE_TYPE=
IMMICH_DB_PASSWORD=
IMMICH_DB_DATABASE_NAME=
IMMICH_DB_USERNAME=

# Searxng
SEARXNG_PORT=
SEARXNG_DEBUG=
SEARXNG_METHOD=
SEARXNG_LIMITER=
SEARXNG_PUBLIC_INSTANCE=
SEARXNG_SECRET=
SEARXNG_UWSGI_WORKERS=
SEARXNG_UWSGI_THREADS=
